* { box-sizing: border-box;
margin: 0; padding: 0;}


#top {
  background-color: #BB5E7D;
  width: 100%;
  border-color: black;
}

#top a {
  color: #F1ECEE;
  font-size: 2em;
  text-decoration: none;
}
#down {
  background-color: #BB5E7D;
  width: 100%;
  height: 10%;
}
#top2 {
  background-color: #BB5E7D;
  width: 100%;
}
#top2 a {
  color: #F1ECEE;
  font-size: 1.5em;
  text-decoration: none;
  float: right;
}
#top3 a {
  color: #F1ECEE;
  font-size: 1.5em;
  text-decoration: none;
  float: right;
}
#top3 {
  background-color: #BB5E7D;
  width: 100%;
}
#top4 a {
  color: #F1ECEE;
  font-size: 1.5em;
  text-decoration: none;
  float: right
}
#top4 {
  background-color: #BB5E7D;
  width: 100%;
}

#video2  {
  font-size: 2.5em;
  background-color: #751759 ;
  text-decoration: none;
  color: #003aff ;
}
